<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>Rendered at: <%= time %> </h2>
    <% for (let i = 0; i < 10; i++){ %>
      <p><%= jksdlfkj %></p>
    <% } %>
  </body>
</html>
